# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds / signing
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# TypeScript
*.tsbuildinfo

# Misc
.DS_Store
npm-debug.*
yarn-error.log
